@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.navContainer{
  font-family: 'Uber Move Medium';
}
.nav-container{
  border-bottom: 1px solid #343434;
}
a{
  position: relative;
  transition: all 0.2s;
  text-decoration: none !important;
}

a:after{
 content: '';
height: 1px;
width: 100%;
background-color: #FF004F;
position: absolute;
bottom: 0;
left: 0;
opacity: 0;
transition: all 0.2s
}


a:hover::after{
 opacity: 1;
}
.navbar-brand{
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
  width: 3.7rem;
  color: #FF004F !important;
}
.navbar-brand img{
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
@media screen and (max-width:650px) {
  a:hover::after{
    opacity: 0;
   }
   a:hover{
    cursor: pointer;
    color: #FF004F !important;
    transition: all 0.2s
  }
  
}
