.container-qualification{
  display: flex;
  flex-direction: column;  
  border-bottom: 1px solid #343434;
}
.container-qualification h1{
  text-align: start;
  color: #FF004F ;
  width: 100%;
}

#card-qualification{
  background-color: rgb(17,17,17);
  color: wheat;
  border: 1px solid #343434;
}
