.container-project{
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  border-bottom: 1px solid #343434;
}
.container-project h1{
  text-align: start;
  width: 100%;
  color: #FF004F;
}
.container-project .row{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  padding: 10px;
}
.container-skill .row .image-project{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-skill .row img{
width: 50%;
}
.card-project{
  padding: 10px;
  margin: 20px 0px;
  flex-basis: 31%;
  background-color: #060606;
  color: wheat;
  border-radius: 0.8rem;
  position: relative;
}
@media screen and (max-width:650px) {
  .card-project{
    flex-basis: 100%;
    
  }
}
