.container-project{
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-direction: column;
  border-bottom: 1px solid #343434;
}
.container-project h1{
  text-align: start;
  width: 100%;
  color: #FF004F;
}
.project-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
}
.project-image img{
  width: 100%;
  border-radius: 0.8rem;
}